:root {
    --main-bg-color: rgb(241, 238, 238);
    --nav-font-color: white;
    --nav-bg-color: rgba(236, 232, 232, 0.897);

    --page-width: 100%;
    --page-min-width: 750px;
    --page-font: Arial, Helvetica, sans-serif;

    --main-section-width: 80%;
    --jumborton-bg-color: rgb(0, 0, 0);

}

html {
    font-size: 16px;
}

body {
    background: linear-gradient(180deg, black, rgb(22, 21, 21));
}

/* General CSS*/

/* Navigation */
#nav {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-family: var(--page-font);
    font-size: 1.3rem;
    /*background-color: var(--nav-bg-color);*/
    padding: 0;
    margin-bottom: 20px;
    width: var(--page-width);
    min-width: var(--page-min-width);
}

#nav a {
    color: var(--nav-font-color);
    text-decoration: none;
    padding: 10px;
}

.nav-logo {
    float: left;
}

.nav-items-right {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    float: right;
    margin-left: 10px;
}

.dropdown {
    position: relative;
}

.dropdown button {
    outline: 0;
    border: 0;
    background: 0;
    color: var(--nav-font-color);
    font-family: var(--page-font);
    font-size: 1.3rem;
    align-items: center;
    padding: 10px; /* THIS IS IMPORTANT KEEPS THE MENU BUTTON INLINE WITH THE REST OF NAV-ITEMS*/
}

.dropdown-menu {
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px 0 white;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .nav-item:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

/* Home */
#home {
    display: flex;
    justify-content: center;
    /*border: 2px solid green;*/
    display: flex;
    margin: auto;
}

.jumborton {
    width: var(--main-section-width);
    padding: 48px 12px;
    border-radius: 8px;
    background: var(--jumborton-bg-color);
}

.jumborton .col {
    margin: 10px;
    display: inline-block;
}

/* About Me */
#about {
    display: flex;
    justify-content: center;
    /*border: 2px solid green;*/
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.about-me {
    display: inline-flex;
    width: var(--main-section-width);
    padding: 10px;
    border-radius: 8px;
    background: var(--jumborton-bg-color);
}
.text {
    /*border: 2px solid purple;*/
    padding: 0px 10px 10px 20px;
}

.description-box {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.change-description-button  {
    border: 0;
    outline: 0;
    background: 0;
    color: rgb(236, 21, 21);
    font-size: 1.05rem;
    font-weight: bold;
    font-family: var(--page-font);
    /*transition: color 0.5s ease-in-out 0s;*/
}

.change-description-button:hover {
    color: white;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 240px;
    height: 300px;
    /*border: 2px solid purple;*/
}

.col-am {
    float: left;
}

.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.highlight {
    color: rgb(238, 29, 29);
}



/* Projects */
#projects {
    display: flex;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.projects-container {
    /*border: 2px solid green;*/
    width: 80%;
}

.display-projects {
    display: block;
    text-align: center;
}

.project-card {
    color: white;
    font-size: 1.2rem;
    font-family: var(--page-font);
    font-weight: 550;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 2px solid rgba(231, 37, 37, 0.623);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
}

.project-title {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 40px;
}

.project-description {
    font-size: 0.9rem;
    text-align: center;
    margin: 5px;
}

.project-description p {
    margin: 0;
}

.button-div {
    display: flex;
    justify-content: center;
}

.show-more-button {
    color: white;
    font-size: 1.2rem;
    font-family: var(--page-font);
    font-weight: 550;
    border: 0;
    outline: 0;
    background: 0;
}

.show-more-button:hover {
    color: rgb(175, 43, 43);
}

/* Contact Me */
#contact {
    /*border: 2px solid green;*/
    margin: auto;
    margin-top: 30px;
    float: left;
}