:root {
    /* Dark mode colour variables */
    --dark-mode-colour-one: black;
    --dark-mode-colour-two: white;
    --body-bg-colour: var(--dark-mode-colour-one);
    --body-font-colour: var(--dark-mode-colour-two);

    /* Light mode colour variables */
    --light-mode-colour-one: white;
    --light-mode-colour-two: black;
    /*--body-bg-colour: var(--light-mode-colour-one);
    --body-font-colour: var(--light-mode-colour-two);*/

    /* General Variables */
    --main-colour-one: rgb(236, 21, 21);
    --main-colour-two: #830029;

    --main-bg-color: rgb(241, 238, 238);
    --nav-font-color: white;
    --nav-bg-color: rgba(236, 232, 232, 0.897);
    --nav-link-color: var(--main-colour-one);
    --second-font-color: var(--nav-link-color);

    --page-width: 100%;
    --page-min-width: 750px;
    --page-font: Arial, Helvetica, sans-serif;

    --main-section-width: 80%;
    --jumborton-bg-color: rgb(0, 0, 0);

    --onChange-color: var(--nav-link-color);

    --about-me-width-picture: 350px;
    --about-me-height-picture: var(--about-me-width-picture);

}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background: linear-gradient(180deg, black, rgb(24, 23, 23), rgb(32, 31, 31), rgb(32, 29, 29));
    position: relative;
}

/* General CSS*/

/* Navigation */
#nav {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-family: var(--page-font);
    font-size: 1.3rem;
    padding: 20px 10px 20px 10px;
    width: var(--page-width);
    position: fixed;
    top: 0;
    left: 0;
}

nav.sticky {
    background: #fff;
    padding: 5px 0px 20px 5px;
    transition: 0.6s;
}

nav.sticky > .nav-items-right .nav-item, nav.sticky > .nav-logo {
    color: black;
}

nav.sticky > .nav-items-right .nav-item:hover, nav.sticky > .nav-logo:hover, .nav-items-right a:hover, .nav-logo:hover {
    color: var(--nav-link-color);
}



.nav-items-right a {
    color: var(--nav-font-color);
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

.nav-logo {
    color: var(--nav-font-color);
    text-decoration: none;
    padding: 10px;
    float: left;
    transition: 0.6s;
}

.nav-items-right {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    float: right;
    margin-left: 10px;
    transition: 0.6s;
}

.dropdown.active > .nav-item, .nav-item:hover {
    color: var(--nav-link-color);
}

.dropdown {
    position: relative;
}

.dropdown button {
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    color: var(--nav-font-color);
    font-family: var(--page-font);
    font-size: 1.3rem;
    align-items: center;
    padding: 10px; /* THIS IS IMPORTANT KEEPS THE MENU BUTTON INLINE WITH THE REST OF NAV-ITEMS*/
    margin-right: 10px;
    display: none;
}

.dropdown button:hover {
    color: var(--nav-link-color);
}

.dropdown-menu {
    background: black;
    position: absolute;
    width: 140px;
    text-align: center;
    top: 100%;
    right: 0;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px 0 rgb(199, 22, 22);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .nav-item + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu > .dropdown-link {
    color: white;
}

@media only screen and (max-width: 730px) {
    .nav-items-right > .nav-item {
        display: none;
    }

    .dropdown button {
        display: block;
    }
}

/* ----------------------- Home ----------------------- */
#home {
    display: flex;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 250px;
}

.jumborton {
    width: var(--main-section-width);
    padding: 30px;
    border-radius: 8px;
}

.jumborton .title h1 {
    margin-top: 10px;
    font-size: 3.8rem;
}

.jumborton .title h3 {
    margin-top: 10px;
    font-size: 1.7rem;
}

.jumborton .col {
    margin: 10px;
    display: inline-block;
}

.highlight {
    color: var(--main-colour-one);
}

/* -------------------------- About Me ------------------------ */
#about {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
}

.about-me {
    display: block;
    text-align: center;
    width: var(--main-section-width);
    padding: 10px;
    border-radius: 8px;
    background: var(--jumborton-bg-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.text {
    text-align: left;
    padding: 10px;
    width: auto;
}

.about-me-title {
    color: var(--dark-mode-colour-two);
    margin-left: 10px;
    margin-bottom: 15px;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    max-width: var(--about-me-width-picture);
    height: var(--about-me-height-picture);
}

.container > .text, .picture {
    flex: 200px;
}

.about-me-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 10px;
}

.change-description {
    margin-top: 15px;
}

.change-description-button  {
    border: 0;
    outline: 0;
    background: 0;
    color: var(--dark-mode-colour-two);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    padding: 5px 5px 5px 0px;
    /*transition: color 0.5s ease-in-out 0s;*/
}

.change-description-button::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-colour-one);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.change-description-button.active-link::after {
    width: 50%;
}

/*.change-description-button:hover {
    color: white;
}*/

.description {
    color: var(--dark-mode-colour-two);
    margin-top: 20px;
}
.description ul li {
    list-style: none;
    margin: 10px 0 0 10px;
}
.description ul li span {
    color: var(--main-colour-one);
    font-size: 0.8rem;
}
.description ul li p {
    margin-top: 5px;
}
.description {
    display: none;
}

.description.active-description {
    display: block;
}

.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}



/* -------------------------- Projects ----------------------- */
#projects {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
}

.projects-container {
    /*border: 2px solid green;*/
    width: 80%;
}

.display-projects {
    display: block;
    text-align: center;
}

.project-card {
    color: white;
    font-size: 1.2rem;
    font-family: var(--page-font);
    font-weight: 550;
    display: none;
    vertical-align: top;
    text-align: center;
    border: 2px solid rgba(231, 37, 37, 0.623);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
}

.project-card:nth-child(1),
.project-card:nth-child(2),
.project-card:nth-child(3),
.project-card:nth-child(4) {
    display: inline-block;
}

.project-title {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 40px;
}

.project-description {
    font-size: 0.9rem;
    text-align: center;
    margin: 5px;
}

.project-description p {
    margin: 0;
}

.button-div {
    display: flex;
    justify-content: center;
}

#show-more-button {
    color: white;
    font-size: 1.2rem;
    font-family: var(--page-font);
    font-weight: 550;
    border: 0;
    outline: 0;
    background: 0;
    margin-top: 20px;
}

#show-more-button:hover {
    color: rgb(175, 43, 43);
}

/* Socials */
#socials {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.socials-container {
    width: 80%;
}

.socials-links-container {
    display: block;
    text-align: center;
    margin: auto;
    border: 2px solid blue;
}

.social-link {
    color: white;
    display: inline-block;
    border: 2px solid purple;
    padding: 10px;
    margin: 10px;
}

.social-link img {
    border: 2px solid yellow;
    width: 150px;
}

/* Contact Me */
#contact {
    /*border: 2px solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.contact-box {
    width: 80%;
    padding: 40px 100px;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(255, 255, 255, 0.15);
}

.contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 9fr;
    grid-template-areas: 
    "form info";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.formBox {
    width: 100%;
}

.formBox .row50  {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox button[type="submit"] {
    background: var(--second-font-color);
    color: white;
    border: 0;
    font-size: 1.1rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder {
    color: #999;
}

/* Contact Info */
/*.info {
    background: black;
}*/

.info h3 {
    color: black;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: red;
    font-size:  1.1rem;
}

.info .infoBox div a {
    color: red;
    text-decoration: none;
}

.contact-social {
    margin-top: 40px;
    display: flex;
}

.contact-social li {
    list-style-type: none;
    margin-right: 15px;
}

.contact-social li a {
    font-size: 2rem;
    color: #ccc;
}

.contact-social li a:hover {
    color: red;
}

@media (max-width: 1060px) {
    .contact-box {
        padding: 20px;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "info"
        "form";
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }
}

/* Footer */
footer {
    background: white;
    height: 200px;
    margin-top: 70px;
}

.main {
    grid-area: main;
}

.quick-links {
    grid-area: quick-links;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main quick-links";
}

.footer-content {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.footer-content h1 {
    font-size: 1.9rem;
}

.main p {
    padding: 10px;
}

.quick-links ul {
    list-style-type: none;
    padding-left: 10px;
}

.quick-links ul li a {
    text-decoration: none;
    color: black;
}

.quick-links ul li a:hover {
    color: red;
}

@media only screen and (max-width: 630px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "main" "quick-links";
    }
}