:root {
    /* Dark mode colour variables */
    --dark-mode-colour-one: black;
    --dark-mode-colour-two: white;
    --body-bg-colour: var(--dark-mode-colour-one);
    --body-font-colour: var(--dark-mode-colour-two);

    /* Light mode colour variables */
    --light-mode-colour-one: white;
    --light-mode-colour-two: black;
    /*--body-bg-colour: var(--light-mode-colour-one);
    --body-font-colour: var(--light-mode-colour-two);*/

    /* General Variables */
    --main-colour-one: rgb(236, 21, 21);
    --main-colour-two: #830029;

    --main-bg-color: rgb(241, 238, 238);
    --nav-font-color: white;
    --nav-bg-color: rgba(236, 232, 232, 0.897);
    --nav-link-color: var(--main-colour-one);
    --second-font-color: var(--nav-link-color);

    --page-width: 100%;
    --page-min-width: 750px;
    --page-font: Arial, Helvetica, sans-serif;

    --main-section-width: 80%;
    --jumborton-bg-color: rgb(0, 0, 0);

    --onChange-color: var(--nav-link-color);

    --about-me-width-picture: 350px;
    --about-me-height-picture: var(--about-me-width-picture);


    /* New Colour variables */
    --root-font-colour: black;
    --root-bg-colour-2: rgb(31, 30, 30);
    --nav-bg-colour: var(--root-bg-colour-2);

    --section-top-gap: 100px;

}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    /*background: linear-gradient(180deg, black, rgb(24, 23, 23), rgb(32, 31, 31), rgb(32, 29, 29));*/
    background: var(--main-bg-color);
    position: relative;
}

/* ---------------------- Header -------------------- */
header {
    width: 100%;
    height: 100vh;
    background-image: url(/Resources/Images/insert-photo.png);
    background-size: cover;
    background-position: center;
}


/* ---------------------- Navigation -------------------- */

.title {
    color: var(--root-font-colour);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

#nav {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-family: var(--page-font);
    padding: 20px 10px 20px 10px;
    width: var(--page-width);
    position: fixed;
    top: 0;
    left: 0;
}

nav.sticky {
    background: var(--nav-bg-colour);
    padding: 5px 0px 20px 5px;
    transition: 0.6s;
    z-index: 100;
}

nav.sticky > .nav-logo {
    color: var(--root-font-colour);
}

nav.sticky .nav-items-right > .nav-item {
    color: var(--root-font-colour);
}

.nav-items-right > .nav-item {
    color: var(--root-font-colour);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 2px;
    margin: 0px 15px;
    position: relative;
}

.nav-items-right .menu-icon {
    color: var(--root-font-colour);
    font-size: 1.3rem;
    padding: 11px 2px;
    margin: 0px 15px;
    display: none;
}

nav.sticky .nav-items-right .menu-icon {
    color: black;
}
nav.sticky .nav-items-right .menu-icon:hover {
    color: #ff0022;
}

.nav-items-right > .nav-item::after {
    content: '';
    width: 0;
    height: 3px;;
    background: var(--main-colour-one);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.nav-items-right > .nav-item:hover::after {
    width: 100%;
}

.nav-logo {
    color: var(--root-font-colour);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    float: left;
    transition: 0.6s;
}

.nav-items-right {
    display: flex;
    justify-content: flex-end;
}

.nav-items-right .nav-item {
    float: right;
    margin-left: 10px;
    transition: 0.6s;
}


/* ----------------------- NAVIGATION DROPDOWN ----------------------- */

.dropdown.active > .nav-item {
    color: var(--nav-link-color);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    background: white;
    position: absolute;
    width: 200px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    top: 138%;
    right: -10px;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown.active > .nav-item + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu > .dropdown-link {
    color: black;
    display: block;
    font-size: 1.9rem;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    transition: color 0.4s;
}

.dropdown-menu > .dropdown-link:hover {
    color: #ff0022;
}


/* ----------------------- Home ----------------------- */

#home {
    display: flex;
    justify-content: center;
    padding-top: var(--section-top-gap);
    margin-bottom: 30px;
    height: 100%;
}

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay img {
    height: 90%;
}

.hero-text {
    text-align: left;
}

.hero-text h1 {
    margin-top: 10px;
    font-size: 3.8rem;
}

.hero-text h3 {
    margin-top: 10px;
    font-size: 1.7rem;
}

.highlight {
    color: red;
}

/* -------------------------- About Me ------------------------ */


#about {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.about-me {
    text-align: center;
    width: var(--main-section-width);
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}

.text {
    text-align: left;
    padding: 10px;
    width: auto;
}
.about-me-text-title {
    color: var(--dark-mode-colour-two);
    margin-bottom: 15px;
    font-size: 2.6rem;
}
.about-me-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.change-content {
    margin-top: 15px;
}
.change-content-button  {
    border: 0;
    outline: 0;
    background: 0;
    color: var(--dark-mode-colour-two);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    padding: 5px 5px 5px 0px;
}
.change-content-button::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-colour-one);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.change-content-button.active-content-link::after {
    width: 50%;
}
.content {
    color: var(--dark-mode-colour-two);
    margin-top: 20px;
}
.content ul li {
    list-style: none;
    margin-top: 10px;
}
.content ul li span {
    color: var(--main-colour-one);
    font-size: 0.8rem;
}
.content ul li p {
    margin-top: 5px;
}
.content {
    display: none;
}
.content.active-content {
    display: block;
}


/* -------------------------- Experience ----------------------- */

#experience h1 {
    color: var(--root-font-colour);
}


/* -------------------------- Projects ----------------------- */
#projects {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
}

.projects-container {
    width: 80%;
}

.projects-container h1 {
    color: white;
    font-size: 2.4rem;
}

.display-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}
.project-card:nth-child(1),
.project-card:nth-child(2),
.project-card:nth-child(3),
.project-card:nth-child(4) {
    display: block;
}
.project-card img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.project-content {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.project-content h4 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.project-content .inline {
    display: flex;
}
.project-content .inline a {
    margin: 20px 10px 0px 0px;
    color: #ff004f;
    font-size: 1.1rem;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: color 0.3s, background 0.3s;
}
.project-content .inline a:hover {
    color: white;
    background: #ff004f;
}
.project-card:hover img {
    transform: scale(1.1);
}
.project-card:hover .project-content {
    height: 100%;
    display: flex;
}

.button-div {
    display: flex;
    justify-content: center;
}

#show-more-button {
    color: #ff0022;
    font-size: 1.2rem;
    font-weight: 550;
    border: 2px solid #ff0022;
    border-radius: 5px;
    padding: 15px;
    outline: 0;
    background: 0;
    margin-top: 40px;
    transition: color 0.4s;
    transition: background 0.4s;
}

#show-more-button:hover {
    color: white;
    background: #ff0022;
}

/* --------------------- Socials -------------------- */
#socials {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.socials-container {
    width: 80%;
}
.socials-container h1 {
    color: white;
    font-size: 2.4rem;
}

.socials-links-container {
    display: block;
    text-align: left;
    margin: auto;
}
.social-link {
    color: white;
    display: inline-block;
    margin: 30px 40px 30px 0px;
}
.social-link a {
    color: white;
    font-size: 12rem;
    line-height: 60px;
    transition: color 0.5s, transform 0.5s;
}
.social-link a:hover {
    color: #333;
    transform: translateY(-20px);
}
.social-link h4 {
    text-align: center;
}

/* --------------------------- Contact Me ------------------------- */
#contact {
    /*border: 2px solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.contact-box {
    width: 80%;
}
.contact-box h1 {
    color: white;
    font-size: 2.4rem;
}

.contact-info {
    flex-basis: 35%;
}
.contact-form {
    flex-basis: 60%;
}
.contact-info p {
    margin-top: 30px;
    font-size: 1.2rem   
}
.contact-info p i {
    color: #830029;
    margin-right: 15px;
    font-size: 1.5rem;
}

.contact-icons {
    margin-top: 30px;
    margin-bottom: 50px;
}
.contact-icons a {
    text-decoration: none;
    font-size: 2.3rem;
    margin-right: 15px;
    color: #ccc;
    display: inline-block;
    transition: transform 0.5s;
}
.contact-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}
.btn {
    color: white;
    font-size: 1.2rem;
    font-weight: 550;
    border-radius: 5px;
    padding: 15px;
    outline: 0;
    padding: 15px 40px;
    background: #ff0022;
    text-decoration: none;
}

.contact-form form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

.submit-form {
    outline: 0;
    border: 0;
}

/* Footer */
footer {
    display: flex;
    background: rgb(31, 30, 30);
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-top: 70px;
}

.footer-container {
    color: white;
    text-align: center;
}

.footer-container .footer-main h1 {
    font-weight: bold;
    margin-top: 20px;
}

.footer-container .footer-main p {
    margin-top: 10px;
}

/* ----------------------- CSS for small screens ------------------------- */

@media only screen and (max-width: 730px) {
    /*#header {
        background-image: url();
    }*/

    .nav-items-right > .nav-item {
        display: none;
    }

    .nav-logo, nav.sticky > .nav-logo, .nav-items-right .menu-icon, nav.sticky .nav-items-right .menu-icon {
        font-size: 2.4rem;
    }

    .nav-items-right .menu-icon, nav.sticky .nav-items-right .menu-icon {
        display: block;
    }

    .jumborton {
        width: auto;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 .about-me-text {
        font-size: 1rem;
    }
    .about-col-2 .change-content-button {
        font-size: 1.1rem;
    }

    .about-col-2 .content {
        font-size: 1.1rem;
    }

    .social-link a {
        font-size: 9rem;
    }

    .contact-info, .contact-form {
        flex-basis: 100%;
    }

    .contact-form {
        margin-top: 50px;
    }

    footer .footer-main h1 {
        font-size: 1.4rem;
    }

    footer .footer-main p {
        font-size: 0.9rem;
    }

}